.fontSizeLabel{
  position: relative;
  left: 15px;
  font-size: 13px;
  color: black;
  font-weight: 400;
}
.fontSizeLabelMeteo{
  position: relative;
  left: -16px;
  font-size: 11px;
  color: black;
  font-weight: 400;
}

.colorTextWeatherInput{
  top: 2px;
  font-size: 15px;
}

.colorTextWeatherLabel{
  position: relative;
  font-weight: 300;
  color: black;
}

.textWeather{
  position: relative;
  left: 2px;
  color: #084173;
  font-weight:400;
  font-size: 13px;
  margin-right: 5px;
}
.imgSizeWeather{
  height: 50px;
  width: auto;
  position: relative;
  top: -22px;
  left:-20px;
}

.textWeatherSky{
  position:relative;
  color: #084173;
  font-weight:400;
  left: -40px;
}

.item-interactive.ion-valid {
  --highlight-background: #084173;
}

.listWeatherSize{
  width:270px;
  height: auto;
}

.colorIconSearchWeather{
  color: #084173;
}

