<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Search Location" class="colorTextWeatherInput" type="text" [(ngModel)]="city"></ion-input>
        <ion-icon class="colorIconSearchWeather" slot="end" name="search-outline" (click)="onLoadWeather()"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="dataWeather">
    <ion-card-content >
      <ion-item>
        <ion-label class="fontSizeLabel">
          City: <strong class="textWeather">{{this.dataWeather.name}} </strong>,
          Country: <strong class="textWeather">{{this.dataWeather.sys.country}}</strong>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fontSizeLabel">
          Lon: <strong class="textWeather" >{{this.dataWeather.coord.lon}} </strong>,
          Lat: <strong class="textWeather" >{{this.dataWeather.coord.lat}}</strong>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="dataWeather">
    <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img class="imgSizeWeather" src="assets/images/{{this.dataWeather.weather[0].main}}.png"></ion-img>
            </ion-avatar>

        <ion-list class="listWeatherSize">
            <ion-item class="fontSizeLabelMeteo">Sky : <strong class="textWeather"> {{this.dataWeather.weather[0].description}}</strong></ion-item>
            <ion-item class="fontSizeLabelMeteo">
              Date:<strong class="textWeather"> {{this.dataWeather.dt * 1000 | date:'dd/MM/yyyy'}}</strong>
              <strong class="textWeather">{{this.dataWeather.dt * 1000 | date:'HH:mm'}}</strong>
            </ion-item>
            <ion-item class="fontSizeLabelMeteo">
              Min: <strong class="textWeather"> {{this.dataWeather.main.temp_min -273.15 | number:'0.0'}} </strong>
              Max: <strong class="textWeather"> {{this.dataWeather.main.temp_max -273.15 | number:'0.0'}}</strong>
            </ion-item>
            <ion-item class="fontSizeLabelMeteo">
              Pressure: <strong class="textWeather"> {{this.dataWeather.main.pressure}}</strong>
              Hum: <strong class="textWeather"> {{this.dataWeather.main.humidity}}</strong>
            </ion-item>
        </ion-list>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
