<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-title class="designTitle">Create Location</ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form #f="ngForm" (ngSubmit)="onAddLocation(f.value)">
        <ion-list>
          <ion-item>
            <ion-label class="sizeTextNewLoc">Title:</ion-label>
            <ion-input type="text" name="title" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="sizeTextNewLoc">City:</ion-label>
            <ion-input type="text" name="city" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="sizeTextNewLoc">Country:</ion-label>
            <ion-input type="text" name="country" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="sizeTextNewLoc">Keywords:</ion-label>
            <ion-input type="text" name="keyword" ngModel></ion-input>
          </ion-item>
        </ion-list>
        <ion-button size="small" class="btnNewLoc" type="submit" color="light" expand="block">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

