.designCardAndText{
  color: black;
  margin-left: 25px;
  font-size: 15px;
}
.colorBtn:hover{
  color: #084173;
}
.labelText{
  font-weight: 500;
  font-size: 13px;
}
.colorTextDetails{
  color: #084173;
  font-weight:400;
}

agm-map {
  height: 300px;
}
