<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="colorBtn" (click)="onTakePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Location Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-card-title class="designCardAndText">Details of my location</ion-card-title>
  </ion-card-content>
</ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="labelText">Keyword : <span class="colorTextDetails">{{currentPlace.keyword}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labelText">Title : <span class="colorTextDetails">{{currentPlace.title}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labelText">City : <span class="colorTextDetails">{{currentPlace.city}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labelText">Country : <span class="colorTextDetails">{{currentPlace.country}}</span></ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <agm-map [latitude]="currentPlace.coordinates.latitude"
               [longitude]="currentPlace.coordinates.longitude">
        <agm-marker [latitude]="currentPlace.coordinates.latitude"
                    [longitude]="currentPlace.coordinates.longitude"></agm-marker>
      </agm-map>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let picture of currentPlace.photos">
    <ion-card-content>
      <ion-img [src]="picture"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
