<ion-menu content-id="content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-menu-toggle *ngFor="let m of menus">
      <ion-item (click)="onMenuAction(m)">
        <ion-icon class="sizeIconMenu" [name]="m.icon" slot="start"></ion-icon>
        <ion-title class="sizeTitleMenu">{{m.title}}</ion-title>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>

