.colorText{
  color: #084173;
  margin-left: 4px;
  font-size: 12px;
}
.sizeIconGallery{
  font-size: 15px;
  color: #070f77;
}

.colorIconSearchGallery{
  color:#084173;
}

.designButton{
  --width: 20px;
  --height: 10px;
  --vertical-align: middle;
  --padding-start: 5px;
  --padding-end: 5px;
    margin-right: -5px;
}

.item-interactive.ion-valid {
  --highlight-background: #084173;
}
