<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Keyword" type="text" [(ngModel)]="keyword"></ion-input>
        <ion-icon class="colorIconSearchGallery" slot="end" name="search-outline" (click)="onLoadImages()"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="dataImages">
      <ion-card *ngFor="let m of this.dataImages">

        <ion-card-header>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="{{m.userImageURL}}"></ion-img>
            </ion-avatar>
            <ion-label> {{m.user}}</ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-img src="{{m.previewURL}}"></ion-img>
        </ion-card-content>
        <ion-card-content>
          <ion-row>
            <ion-col size-xs="auto">
              <ion-button class="designButton round" fill="outline" color="light" size="small">
                <ion-icon class="sizeIconGallery" name="thumbs-up-outline"></ion-icon>
                <ion-label class="colorText">{{m.likes}}</ion-label>
              </ion-button>
            </ion-col>
            <ion-col size-xs="auto">
              <ion-button class="designButton round" fill="outline" color="light" size="small">
                <ion-icon class="sizeIconGallery" name="chatbox-outline"></ion-icon>
                <ion-label class="colorText">{{m.comments}}</ion-label>
              </ion-button>
            </ion-col>
            <ion-col size-xs="auto">
              <ion-button class="designButton round" fill="outline" color="light" size="small">
                <ion-icon class="sizeIconGallery" name="download-outline"></ion-icon>
                <ion-label class="colorText">{{m.downloads}}</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
