<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onNewLocation()"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of locations">
          <ion-label (click)="onLoadDetailsLocation(p)">{{p.title}}</ion-label>
            <ion-icon slot="end" class="designDeleteLocation" name="trash-outline" (click)="onRemoveLoc(p)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
