.sizeHomeItem{
  font-size: 13px;
}
.sizeHomeTitle{
  font-size: 13px;
  margin: auto;
  color: #084173;
}
.sizeIconSchool{
  font-size: 17px;
  color: #084173;
  margin-right: 5px;
}

.textHomePage{
  color: #084173;
  font-weight: normal;
  margin-left: 2px;
}

