<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

     <ion-card-title class="sizeHomeTitle"> <ion-icon class="sizeIconSchool" name="school-outline"></ion-icon>Concepteur développeur d'applications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="contact.Logo"></ion-img>
      <ion-list>
        <ion-item class="sizeHomeItem">Name : <strong class="textHomePage"> {{contact.Name}} </strong></ion-item>
        <ion-item class="sizeHomeItem">Email : <strong class="textHomePage"> {{contact.Email}} </strong></ion-item>
        <ion-item class="sizeHomeItem">Mob :  <strong class="textHomePage">{{contact.Tel}} </strong></ion-item>
      </ion-list>
      <ion-img [src]="contact.Location"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
